 body {
     color:black;
     background-color:white;
     background-image:url("https://images4.alphacoders.com/116/thumb-1920-1162241.png");
     background-attachment:fixed;
     }
     
/*     <img class="fit-picture"    src="mi.jpg"  alt="Josu"> 

     background-color: rgb(60, 45, 70);
https://wallpaperaccess.com/full/660701.jpg
*/

.header1
{
    background-color: rgb(70, 70, 70) ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(to bottom, rgb(45, 255, 0), rgb(255, 0, 230)) 1;
    text-shadow: 0 0 5px;
    color: blanchedalmond ;
    text-align: center ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dst1 
{
    color: rgb(45, 255, 0) ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px ; 
    position: absolute, le;
    position: static;
    background-color: rgb(70, 70, 70) ;
    text-shadow: 0 0 5px;
    border-spacing: 5px;
    text-align: center ;
    margin-bottom:20px;
    margin-top:10px;
    border-style: solid;
    border-image: linear-gradient(to bottom, rgb(45, 255, 0), rgb(255, 0, 230)) 1;

}

.headermenu
{
    color: rgb(235, 150, 235) ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px ; 
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(to bottom, rgb(45, 255, 0), rgb(255, 0, 230)) 1;
    position: static;
    background-color: rgb(70, 70, 70) ;
    text-shadow: 0 0 5px;
    border-spacing: 5px;
    width: 8%;
    height: 20px;
    
}

.menu
{
    color: rgb(45, 255, 0) ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px ; 
    position: static;
    background-color: rgb(70, 70, 70) ;
    text-shadow: 0 0 5px;
    border-spacing: 5px;
    width: 8%;
    height: 500px;
    float: left;
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(to bottom, rgb(45, 255, 0), rgb(255, 0, 230)) 1;
    position: static;
    background-color: rgb(70, 70, 70) ;
    text-align: center ;
}

/* - De rifk7.com, div avec dégradé */

.p 
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px ; 
}

.paragraphe
{
background-color: rgba(240, 240, 240, 0.5);
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
float:right;
width: 90%;
height: 500px;
}

.pm
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px ; 
    text-align: center ;
}

/* - Pour Easter Egg sauce
<audio controls="controls"> <source src="Mad_Desire_-_Stephy_Martini.mp3" type="audio/mp3" /> Votre navigateur n'est pas compatible </audio> </div>
*/

.illustration
{
    float:left;
    text-align: left;
}