 body {
     background-image:url("backgroundea86.png");
     background-repeat:no-repeat;
     background-color: black;
     background-position:fixed;
     }
     

/* paramètres du body avec image de fond
*/


.header1
{
    background-color: rgb(70, 70, 70) ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-width: 5px;
    border-style: solid;
    border-image: linear-gradient(to bottom, rgb(45, 255, 0), rgb(255, 0, 230)) 1;
    text-shadow: 0 0 5px;
    color: blanchedalmond ;
    text-align: center ;
}

/* div de titre
*/


.titre 
{
    color: rgb(45, 255, 0) ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px ; 
    position: absolute;
    position: static;
    background-color: rgb(70, 70, 70) ;
    text-shadow: 0 0 2px;
    border-spacing: 1px;
    text-align: center ;
    margin-bottom:5px;
    margin-top:5px;
    border-style: solid;
    border-image: linear-gradient(to bottom, rgb(255, 0, 230), rgb(45, 255, 0)) 1;
}

/* div de sous titre
*/


.menu
{
    color: rgb(45, 255, 0) ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px ; 
    position: static;
    background-color: rgb(70, 70, 70) ;
    text-shadow: 0 0 5px;
    border-spacing: 5px;
    width: 8%;
    height: 500px;
    float: left;
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(to bottom, rgb(45, 255, 0), rgb(255, 0, 230)) 1;
    background-color: rgb(70, 70, 70) ;
    text-align: center ;
}

/* - linear-gradient de rifk7.com, div avec bordures dégradé pour le menu
*/


p 
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px ; 
    margin: 1%;
}

/* police menu
*/

.pm
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px ; 
    margin: 1%;

}

/* pour les balises paragraphe p
*/

.paragraphe
{
background-color: rgba(240, 240, 240, 0.5);
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
float:right;
width: 90%;
height: 500px;
}

/* texte / paragraphes
*/


.illustration
{
    float:left;
    text-align: left;
    margin: 2%;
}

/* pour les images
*/

.flag 
{
    position:bottom;
}

/* pour le drapeau Anglais
*/

.table /* pour le contour du tableau */
{
    margin: 1%;
    border: 1px solid black
}

td /* pour les cellules du tableau */
{
    border: 1px solid black
}

.boxvignettes /* Bah les vignettes du coup */
{
background-color: rgba(225, 220, 220, 0.1);
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
float:left;
width: 15%;
height: auto;
margin: 5px;
}

.vignette /* Bah les vignettes du coup */
{
background-color: rgba(225, 220, 220, 0.8);
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
float:auto;
width: 90%;
height: 150px;
margin: 2%;
}

/* texte vignette
*/

.tv
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15; 
    margin: 1%;
    font-style:oblique;
    text-shadow: 0 0 5px;
    color: rgb(255, 0, 190) ;
    text-align: center;
}